/VGG16_40Epoch.h4
/VGG16_60Epoch.h4
/VGG16.h4
/VGG16Epoch100.h4
/VGG19.h4
/VGG19Epoch40.h4
/VGG19Epoch60.h4
/VGG19Epoch100.h4
/dataset.zip
/mymodel.h5
/daun jeruk
/datafix
/finalCitrusDeases
/dataTest
/model.keras
